@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dotAppear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.visible#section1 {
    .hero {
        .notif_container {
            .notif {
                visibility: visible;
                animation: fadeUp 1s ease;
            }
        }
        .hero_row_2 {
            visibility: visible;
            animation: slideRight 1s ease;
        }
    }
}

.visible#section2 {
    .about {
        .notif_container {
            .notif {
                visibility: visible;
                animation: fadeUp 1s ease;
            }
        }
        .about_content {
            visibility: visible;
            animation: slideLeft 1s ease;
        }
    }
}

.visible#section3 {
    .pricing {
        .cards_container {
            .card {
                visibility: visible;
                animation: slideRight 1s ease;
            }
        }
    }
}

.visible#section4 {
    .faq {
        > div {
            visibility: visible;
            animation: slideLeft 1s ease;
        }
    }
    .cta {
        visibility: visible;
        animation: slideRight 1s ease;
    }
}