.darkmode {
    background-color: $grey-800;
    
    h1, h2, label {
        color: $grey-100;
    }
    
    h3, h4 {
        color: $grey-200;
    }
    
    p, a, input, ul, li, button {
        color: $grey-300;
    }
    
    h1 {
        color: $white;
    }
    
    h2 {
        color: $grey-100;
    }
    
    h3 {
        color: $grey-100;
    }
    
    h4 {
        color: $grey-400;
    }
    
    strong {
        color: $grey-300;
    }
    
    .header_container {
        header {
            background-color: $grey-800;
            box-shadow: 0px 0px 12px 1px #0000004D;
            nav {
                .header_logo {
                    a::after {
                        background-color: $orange-200;
                    }
                }
            }
            .social_icons {
                ion-icon {
                    color: $grey-300;
                }
            }
        }
    
    }
    
    @media screen and (max-width: 768px) {
        
        .header_container {
            header {
                nav {
                    .header_list {
                        ion-icon {
                            color: $grey-100;
                        }
                        li {
                            background-color: $grey-800;
                            box-shadow: 0px 0px 12px 1px #0000004D;
                        }
                    }
                    ion-icon {
                        color: $grey-100;
                    }
                }
            }
        }
    
    }    
    
    section:nth-child(2n + 1) {
        background-color: $grey-700;
    }
    
    .hero {
        .hero_row_1 {
            video {
                filter: brightness(0.75);
            }
            .notif_container {
                .notif {
                    background-color: #2c2c2c99;
                    border: 0.25px $grey-800 solid;
                }
            }
        }
        .hero_row_2 {
            div,
            form {
                background-color: $grey-700;
                box-shadow: 0px 0px 12px 1px #0000004D;
                fieldset {
                    input {
                        border: $grey-700 solid 1px;
                    }
                    input[value="submit"] {
                        background-color: $grey-900;
                        color: $white;
                    }
                }
            }
        }
    }
    
    .about {
        > img {
            filter: brightness(0.75);
        }
        .notif_container {
            .notif {
                background-color: #2c2c2c99;
                border: 0.25px $grey-800 solid;
            }
        }
        .about_content {
            background-color: $grey-800;
            box-shadow: 0px 0px 12px 1px #0000004D;
        }
    }
    
    .pricing {
        .cards_container {
            .card {
                background-color: $grey-700;
                box-shadow: 0px 0px 12px 1px #0000004D;
                span {
                    color: $grey-200;
                }
                .card_title {
                    ion-icon {
                        color: $grey-100;
                    }
                }
                button {
                    background-color: $grey-800;
                    border: $grey-700 solid 1px;
                    color: $white;
                }
            }
            > div:nth-child(3) {
                button {
                    background-color: #b45a29;
                    color: $white;
                    border: #ca8762 solid 1px;
                }
            }
        }
    }
    
    .faq {
        > div {
            > div {
                box-shadow: 0px 0px 12px 1px #0000004D;
                .faq-item {
                    button {
                        border-bottom: $grey-900 2px solid;
                        color: $grey-100;
                        background-color: $grey-800;
                        ion-icon {
                            color: $grey-100;
                        }
                    }
                }
            }
        }
    }
    
    .cta {
        background-color: $grey-800;
        box-shadow: 0px 0px 12px 1px #0000004D;
        fieldset {
            input {
                border: $grey-700 solid 1px;
            }
            input[value="submit"] {
                border-radius: 0 0.8rem 0.8rem 0;
                background: url(https://media.giphy.com/media/lzJAy8UfMFTUimijYD/giphy.gif?cid=ecf05e47zrbhont4kun4yjkzgnz00rmkqs85kc2atyfrtsuk&ep=v1_gifs_related&rid=giphy.gif&ct=g);
                -webkit-filter: invert(0.1);
                        filter: invert(0.1);
            }
        }
    }
    
    footer {
        background-color: $grey-800;
        div {
            p {
                color: $grey-500;
            }
        }
    }
}