#section1 {
    min-height: calc(100vh - 7.2rem);
}

.hero {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.6rem;
    .hero_row_1 {
        video {
            aspect-ratio: 26 / 9;
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 32px;
            -o-object-position: center;
            object-position: center;
        }
        .notif_container {
            position: absolute;
            left: 3.6rem;
            gap: 16px;
            margin: 2.4rem;
            translate: 0 -12.4rem;
            .notif {
                border-radius: 24px;
                -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);
                -webkit-animation: fadeIn 1s ease;
                        animation: fadeIn 1s ease;
                max-width: 400px;
                visibility: hidden;
            }
        }
    }
    .hero_row_2 {
        height: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 3.6rem;
        div,
        form {
            max-height: 340px;
            place-content: center;
            border-radius: 32px;
            padding: 4rem;
            box-shadow: 0px 0px 12px 1px #9191914D;
            h1 {
                margin-bottom: 1.2rem;
            }
            p {
                margin: 0;
            }
            label {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
            fieldset {
                display: flex;
                border: 0;
                padding: 0;
                margin: 0;
                input {
                    border-radius: 0.8rem 0 0 0.8rem;
                    padding: 1.6rem;
                    width: 100%;
                }
                input[value="submit"] {
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    border-radius: 0 0.8rem 0.8rem 0;
                }
                input[value="submit"]:hover {
                    cursor: pointer;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    
    .hero {
        .hero_row_1 {
            aspect-ratio: 4 / 3;
            height: 100%;
        }
        .hero_row_2 {
            grid-template-columns: 1fr;
            gap: 1.6rem;
            div {
                padding: 3rem;
            }
        }
        .notif_container {
            display: none;
            .notif {
                display: none;
            }
        }
    }

}