section {
    min-height: 100vh;
}

section:nth-child(2n) {
    background-color: $grey-100;
}

.col_12_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;
    padding: 3.6rem;
}

.s1_lg {
    grid-column: 1 / 13;
}

@media screen and (max-width: 768px) {
    
    .col_12_4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .s1_md {
        grid-column: 1 / 5;
    }

}