.col_12_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3.6rem;
    padding: 3.6rem;
    overflow-x: hidden;
}

.s1_lg {
    grid-column: 1 / 13;
}

.s2_lg {
    grid-column: 2 / 12;
}

@media screen and (max-width: 768px) {
    
    .col_12_4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .s1_md {
        grid-column: 1 / 5;
    }

    .s2_lg {
        grid-column: 2 / 3;
    }

}