figure {
    margin: 0;
    display: grid;
    place-items: center;
    img {
        border-radius: 3.2rem;
        overflow: hidden;
        width: 100%;
    }
}

.notif {
    position: absolute;
    bottom: 0;
    margin: 24px;
    animation: fadeIn ease 1s;
    -webkit-filter: drop-shadow(0px 0px 23px 1px #919191);
    filter: drop-shadow(0px 0px 23px 1px #919191);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}