section {
    max-height: 100vh;
}

section:nth-child(2n + 1) {
    background-color: $grey-200;
}

.visible#section1 {
    .hero {
        .notif_container {
            .notif {
                visibility: visible;
                animation: fadeUp 1s ease;
            }
        }
    }
}

.visible#section2 {
    .about {
        div {
            div,
            img {
                visibility: visible;
                animation: fadeUp 1s ease;
            }
        }
    }
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes logoRotate {
    0% {
        rotate: 0;
    }
    10% {
        scale: 0.85;
    }
    90% {
        scale: 0.85;
    }
    100% {
        scale: 1;
        rotate: 360deg;
    }
}


.hero {
    margin: 0;
    height: calc(100vh - 7.2rem);
    display: flex;
    align-items: flex-end;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
    }
    .notif_container {
        position: absolute;
        right: 32px;
        gap: 16px;
        margin: 24px;
        .notif {
            background-color: #ffffff99;
            border-radius: 30px;
            border: 0.25px $grey-100 solid;
            backdrop-filter: blur(10px);
            animation: fadeIn 1s ease;
            visibility: hidden;
        }
    }
}

.about {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap: 1.8rem;
    height: calc(100vh - 7.2rem);
    .about_col_1 {
        img:first-child {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 32px;
        }
        .notif_container {
            position: absolute;
            translate: 0 -136px;
            gap: 16px;
            margin: 24px;
            .notif {
                background-color: #ffffff99;
                border-radius: 30px;
                border: 0.25px $grey-100 solid;
                backdrop-filter: blur(10px);
                animation: fadeIn 1s ease;
                visibility: hidden;
            }
        }
    }
    .about_col_2 {
        display: grid;
        grid-template-rows: 0.5fr 1.5fr;
        gap: 1.8rem;
        div {
            visibility: hidden;
            background-color: $grey-100;
            border-radius: 32px;
            padding: 2.4rem;
            display: grid;
        }
        div:first-child {
            place-items: center center;
        }
        div:last-child {
            place-items: center left;
        }
    }
}