section {
    min-height: 100vh;
}

.friends_img {
    background-image: url('../media/friends.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    border-radius: 32px;
    height: calc(100vh - 7.2rem);
    display: flex;
    align-items: flex-end;
    .notif_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 24px;
        .notif {
            background-color: #ffffff99;
            border-radius: 30px;
            border: 0.25px $grey-100 solid;
            backdrop-filter: blur(10px);
            animation: fadeIn 1s ease;
            visibility: hidden;
        }
    }
}

.visible {
    .friends_img {
        .notif_container {
            .notif {
                visibility: visible;
                animation: fadeUp 1s ease;
            }
        }
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}