.header_container {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    header {
        padding: 2.4rem 3.2rem;
        margin: 2.4rem;
        width: 50%;
        border-radius: 16px;
        transition: color 200ms;
        background-color: $white;
        nav {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.6rem;
            gap: .8rem;
            ul {
                display: flex;
                padding: 0;
                margin: 0;
                gap: 3.2rem;
                list-style: none;
            }
            .header_logo {
                a {
                    color: $black;
                    font-family: $serif;
                    font-weight: 400;
                    font-size: 3.2rem;
                }
            }
        }
    }
    /* active state indicator in the nav  */
    header::after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--markerWidth, 0);
        height: 0.4rem;
        background-color: $violet;
        transform: translate3d(var(--markerLeft, 0), 0, 0);
        transition: transform steps(12) 250ms,
                    width steps(12) 200ms,
                    background-color steps(12) 200ms;
        will-change: width;
    }
}
