:root {
    --markerWidth: 0;
    --markerLeft: 0;
}

.header_container {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    header {
        display: flex;
        flex-direction: row;
        padding: 2.4rem 3.2rem;
        margin: 2.4rem;
        width: 50%;
        border-radius: 16px;
        transition: color 200ms;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        gap: 3.6rem;
        nav {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .header_logo {
                a {
                    font-family: $serif;
                    font-size: 2.8rem;
                    transition: color 0.25s ease;
                }
                a::after {
                    display: none;
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 0.4rem;
                    width: 0.4rem;
                    border-radius: 0.4rem;
                    margin-top: 0.2rem;
                    transform: translateX(calc(var(--markerLeft) + var(--markerWidth)  / 2 - 0.2rem));
                    transition: transform ease 0.25s;
                    will-change: width;
                    -webkit-animation: dotAppear ease 0.5s;
                            animation: dotAppear ease 0.5s;
                }
                @media (min-width: 40em) {
                    a::after {
                        display: block;
                    }
                }
            }
            .header_list {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: 2.4rem;
                list-style: none;
                li {
                    a {
                        transition: color 0.25s ease;
                    }
                }
            }
            ion-icon {
                display: none;
            }
        }
        .social_icons {
            display: flex;
            flex-direction: row;
            justify-self: right;
            align-items: center;
            gap: 1.6rem;
            margin-top: 0.8rem;
            ion-icon {
                font-size: 2rem;
                -webkit-animation: fadeIn 0.75s ease;
                        animation: fadeIn 0.75s ease;
            }
            #dark {
                display: none;
            }
            button:hover {
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    
    .header_container {
        header {
            gap: 2.4rem;
            nav {
                .header_list {
                    position: absolute;
                    flex-direction: column;
                    align-items: end;
                    justify-content: center;
                    height: 100vh;
                    top: 0;
                    right: 0;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    padding: 2.4rem;
                    z-index: 2;
                    transition: transform 0.25s ease;
                    transform: translateX(100px);
                }
                ion-icon {
                    margin-top: 0.8rem;
                    display: block;
                    font-size: 2rem;
                }
                a::after {
                    visibility: hidden;
                }
            }
            .social_icons {
                a {
                    display: none;
                }
            }
        }
    }

}
