$white: #ffffff;

$grey-100: #f1f1f1;
$grey-300: #c6c6c6;
$grey-500: #919191;
$grey-700: #525252;
$grey-900: #111111;

$black: #000000;

$serif: 'Lora', Cochin, Georgia, Times, serif;
$sans-serif: 'Inter', Helvetica, sans-serif;