$white: #ffffff;

$grey-100: #f1f1f1;
$grey-200: #d8d8d8;
$grey-300: #c6c6c6;
$grey-400: #a5a5a5;
$grey-500: #858585;
$grey-600: #616161;
$grey-700: #2c2c2c;
$grey-800: #222222;
$grey-900: #141414;

$black: #000000;

$orange-100: #ca8762;
$orange-200: #b45a29;

$serif: 'Lora', Cochin, Georgia, Times, serif;
$sans-serif: 'Inter', Helvetica, sans-serif;