$white: #ffffff;

$grey-100: #f1f1f1;
$grey-200: #d8d8d8;
$grey-300: #c6c6c6;
$grey-400: #b3b3b3;
$grey-500: #919191;
$grey-600: #616161;
$grey-700: #525252;
$grey-800: #2c2c2c;
$grey-900: #111111;

$black: #0f0f0f;

$serif: 'Lora', Cochin, Georgia, Times, serif;
$sans-serif: 'Inter', Helvetica, sans-serif;